--- layout: default --- {% include base_path %} {% if page.header.overlay_color or page.header.overlay_image or page.header.image %} {% include page__hero.html %} {% endif %} {% if page.url != "/" and site.breadcrumbs %} {% unless paginator %} {% include breadcrumbs.html %} {% endunless %} {% endif %}
{% include sidebar.html %}
{% if page.title %}{% endif %} {% if page.excerpt %}{% endif %} {% if page.date %}{% endif %} {% if page.modified %}{% endif %}
{% unless page.header.overlay_color or page.header.overlay_image %}
{% if page.title %}
{{ page.title | markdownify | remove: "
" | remove: "

" }}
{% endif %} {% if page.read_time %}
{% include read-time.html %}

{% endif %} {% if page.modified %}
{{ site.data.ui-text[site.locale].date_label | default: "Published:" }} {{ page.modified | date: "%B %d, %Y" }}

{% endif %} {% if page.collection == 'teaching' %}
{{ page.type }}, {{ page.venue }}, {{ page.date | default: "1900-01-01" | date: "%Y" }}

{% elsif page.venue and page.date %}
Published in {{ page.venue }}, {{ page.date | default: "1900-01-01" | date: "%Y" }}

{% elsif page.date %}
{{ site.data.ui-text[site.locale].date_label | default: "Published:" }} {{ page.date | default: "1900-01-01" | date: "%B %d, %Y" }}

{% endif %} {% if page.citation and page.paperurl %}
Recommended citation: {{ page.citation }} {{ page.paperurl }}

{% elsif page.citation %}
Recommended citation: {{ page.citation }}

{% endif %}
{% endunless %}
{{ content }} {% if page.link %}
{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}
{% endif %}
{% if site.data.ui-text[site.locale].meta_label %}
{{ site.data.ui-text[site.locale].meta_label }}
{% endif %} {% include page__taxonomy.html %}
{% if page.share %}{% include social-share.html %}{% endif %} {% include post_pagination.html %}
{% if site.comments.provider and page.comments %} {% include comments.html %} {% endif %}
{% comment %}{% endcomment %} {% if page.id and page.related and site.related_posts.size > 0 %}
{% if site.data.ui-text[site.locale].related_label %}
{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}
{% endif %}
{% for post in site.related_posts limit:4 %} {% include archive-single.html type="grid" %} {% endfor %}
{% endif %}
